
.gitignore
.vs/c++_Primer_book/v16/.suo
.vs/c++_Primer_book/v16/Browse.VC.db
 bin/Win32/Debug/c++_Primer_book.ilk

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
